<h1>Flash Informativo</h1>
<p>Esto es lo que esta pasando en el mundo!!</p>
<% @articulos.each do |articulo| %>
<div class="formatted_article">
 <p id="fecha"><%= articulo.created_at.strftime("%A, %h %d %Y, %H:%M hs") %></p>
 <p id="titulo"><%= articulo.titulo %></p>
 <p><%= articulo.cuerpo %></p><br />
</div>
<% end %>

