<h1 class="formato_articulos_t">Flash Informativo</h1>
<p class="formato_articulos_r">Esto es lo que esta pasando en el mundo!!</p>


<div class="formato_articulos ">
 <p id="fecha"><%= @articulo.created_at.strftime("%A, %h %d %Y, %H:%M hs") %></p>
 <p id="titulo"><%= @articulo.titulo %></p>
 <p id="autor"><%= get_formato_autor @articulo %></p>
 <p><%= @articulo.cuerpo%></p>

</div>


