<h1>Ingreso</h1>
<p>Por favor ingrese su nombre de usuario</p>

<%= form_tag "/ingresar" do %>
<p>
  <b>Nombre de usuario</b><br />
  <%= text_field_tag :nombreusuario %>
</p>
<p>
   <%= submit_tag "Ingresar!!" %>
</p>
<% end %>



