// Place all the styles related to the Login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.formato_articulos{

	background-color: #EEFF9F;
	border-bottom-style: solid;
	border-color: #7E8F00;
 
	#fecha {	
		color: gray;
		font-style: italic;
		font-size: 85%;
		text-align: right;
	}

	#titulo {	
		margin-top: -20px;
		margin-bottom: -10px;
		font-size: 170%;
		font-weight: bold;
	}    


        #acciones,#categorias {
		font-size: 85%;
		text-align: right;
	}
     
        #autor,#readmore {	
		color: gray;
		font-style: italic;
		font-size: 85%;
		text-align: left;
	} 


}

.formato_articulos_t {

     color: #008508;
     font-size: 270%;
     text-align: center;
}

.formato_articulos_r {

     color: #008F65;
     font-size: 190%;
     text-align: center;
}

.formato_autor {
     font-size: 90%;
     text-align: right;
}

